.maincont{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.maincont #maincont{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    margin: auto;
}
#maincont img{
    height: 400px;
    border-radius: 25px;
    width: 250px;

}
#rec{
    width: 90%;
    margin: auto;
}
#maincont p{
    margin-bottom: 15%;
    padding-bottom: 8px;
    width: 90%;
    margin: auto;
}
#font{
    margin-top: 0%;
    width: 90%;
    padding-bottom: 8px;
    margin: auto;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}