.main{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ddd;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: sticky;
    top: 0%;
}
.main #first{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    float: left;
    width: 30%;
}
.main #second{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    float: right;
    width: 30%;
}
li{
    padding-right: 15px;
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}