nav{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: auto;
    width: 90%;
    position: sticky;
    background-color: white;
    top: 0%;
}
nav a{
    text-decoration: none;
    color: black;
}
nav li{
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    float: right;
    padding: 5px;
    padding-right: 15px;
    
    margin-top: 10px;
}
nav #first{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    margin: auto;
}
nav #second{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
}
nav #four{
    padding: 5px;
    margin-top: 10px;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}
nav button{
    background-color: red;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
}
nav #first img{
    margin-top: 10px;
   
   
    float: left;
    padding-right: 15px;
    margin: auto;
}
nav input{
    float: left;
    width:90%;
    background: transparent;
    padding: 12px 20px 12px 40px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    outline: none;
   /*  padding: 5px; */
    margin-top: 10px;
}
#location{
    display: block;
    scroll-margin-top: 200px;
    width: 60%;
    margin: auto;

}
#first select {
    width: 50%;
    margin: auto;
    padding: 10px;
}
.animals {
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    animation: fadeIn 0.5s ease-in-out;
}

.animals:last-child {
    border-bottom: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}